/* ember-power-select */
$ember-power-select-background-color: $white;
$ember-power-select-selected-background: inherit;
$ember-power-select-highlighted-background: $white-darker;
$ember-power-select-highlighted-color: inherit;
$ember-power-select-border-color: $white-darker;
$ember-power-select-default-border-radius: $base-border-radius;
$ember-power-select-dropdown-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
