.login {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    h1,
    h2 {
        font-weight: 400;
        cursor: text;
    }
    .card {
        width: 30%;
        max-width: 400px;
        min-width: 300px;
        align-items: center;
        padding: 48px 24px;
        cursor: default;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        width: 75%;
        h2 {
            align-self: center;
            margin-bottom: 36px;
        }
        .field {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
            label {
                cursor: text;
                margin-bottom: 8px;
            }
            input {
                border-radius: 2px;
                padding: 4px 8px;
                border: 1px solid $grey-light;
            }
        }
        button {
            width: 100%;
        }
    }
}
