.ember-modal-overlay.translucent {
    background-color: rgba(10, 10, 10, 0.45);
    z-index: $overlay-index;
}

.ember-modal-dialog {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 70%;
    padding: 24px;
    border-radius: 2px;
    border: 1px solid $white-darker;
    background-color: $white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    z-index: $modal-index;
    line-height: normal;
    &.small {
        width: 50%;
    }
    &.large {
        width: 80%;
    }
    &.tall { // TODO make these class names make more sense
        max-height: unset;
        height: 90%;
    }
    &.fullscreen {
        width: unset;
        padding: 12px;
        height: calc(100% - 24px); // I don't know why I need to do this. Modal overflows off bottom of screen otherwise. Ugh.
        max-height: unset;
        transform: none !important;
        top: 0 !important;
        bottom: 0;
        right: 0;
        left: 0 !important;
    }
}

.modal-header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
    }
    button {
        margin: 0;
        padding: 8px;
    }

    .close-icon {
        cursor: pointer;
        font-size: 1.25rem;
        color: $primary;
    }
}

.modal-body {
    display: flex;
    height: 100%;
    overflow-y: hidden;
    .content-editable {
        padding: 8px 0;
    }
}

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    .button-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
