.ember-cli-notifications-notification__container {
    top: 24px;
    left: 150px; // This centers the notification container with the main content (i.e. excludes the sidebar).
    font-size: 1rem;
    .c-notification {
        padding: 8px;
        .c-notification__icon,
        .c-notification__close {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }
    }
    .c-notification__countdown {
        display: none; // Can't disable the duration animation through the addon apparently.
    }
}

main.no-leftbar {
    .ember-cli-notifications-notification__container {
        left: 0; // This centers the notification with the page when there is no left navbar.
    }
}
