.list-pane {
    flex-basis: 300px;
    background-color: $white-dark;
    overflow-y: auto;
    border-right: 1px solid #d1d1d1;
    flex-shrink: 0; // without this, the list disappears/shrinks when opening the editor, not sure why
    .list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid #d1d1d1;
        margin: 0 8px;
        cursor: pointer;
        padding: 8px;
        height: 125px;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        .pell-content {
            min-height: unset;
            overflow: hidden;
            padding: 0;
            border: 0;
            blockquote {
                background-color: $white-darker;
            }
        }
        .timestamp {
            color: $grey-dark;
            font-size: 0.8rem;
        }
    }
    .list-item-container {
        &:hover,
        &.active {
            background-color: $white-darker;
            .pell-content blockquote {
                background-color: $grey-light;
            }
        }
        &.new {
            display: none;
        }
    }
}

.pane-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    overflow-x: hidden;
    overflow-wrap: break-word;
    .pane-body {
        height: 100%;
        overflow-y: auto;
    }
    // I don't know why these next 3 blocks are necessary, but the formatting of the footer in pane mode
    // got messed up somewhere along the way.
    .tag-list {
        padding: 0 16px;
    }
    .timestamp {
        padding: 0 0 16px 16px;
    }
    .actions {
        padding: 0 16px 16px 0;
    }
}

.pane-body {
    width: 100%;
}
