.pell-actionbar {
    position: sticky;
    top: 0;
    background-color: $white;
    border: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $white-darker;
    margin-bottom: 8px;
}

.pell-button {
    color: $black-light;
    width: 48px;
    height: 48px;
    padding: 0;
    &:hover,
    &.pell-button-selected {
        background-color: $white-darker;
    }
}

.pell-content {
    height: calc(100% - 66px); // I don't know why this needs to be 68...
    min-height: 200px;
    padding: 8px 24px 8px 24px;
    line-height: 1.5;
    blockquote {
        padding: 16px;
        margin: 16px;
        background-color: $white-dark;
        border-left: 4px solid $primary;
    }
}
