.toolbar {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    background-color: #61626b;
    flex-shrink: 0;
    box-shadow: 0 1px 2px 0 rgba(66, 66, 66, 0.3), 0 1px 3px 1px rgba(80, 80, 80, 0.15);
    z-index: $topbar-index;
    .toolbar-actions {
        display: flex;
        width: 100%;
    }
    .toolbar-group {
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.right {
            margin-left: auto;
        }
        &.left {
            margin-right: auto;
        }
    }
    &.mobile {
        padding: 0 16px;
    }
    .tag-list {
        max-height: 100px;
        overflow: auto;
        margin-bottom: 8px;
    }
    .button:not(.tag-remove) {
        font-size: 0.8rem;
        color: $white;
        padding: 8px 16px;
        border: 0;
        background-color: inherit;
        border-radius: 4px;
        &:focus,
        &:hover {
            color: $white;
            background-color: darken(#61626b, 10%);
        }
    }
}

.toolbar-item {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    .button-group {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
