html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: $white-dark;
    color: $black-light;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a {
    color: #1479d2;
    text-decoration: none;
    &:visited {
        color: #1479d2;
    }
}

.content {
    flex-grow: 1;
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
