<nav class="nav-menu">
    <h1 class="nav-menu-title">
        <LinkTo @route="notes">
            {{!-- It's official, I still don't understand SVG --}}
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="932.000000pt" height="937.000000pt" viewBox="0 0 932.000000 937.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,937.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M4176 9062 c-351 -1015 -810 -2102 -1218 -2887 -510 -980 -970 -1623 -1457 -2037 l-43 -36 94 -114 c305 -368 725 -920 975 -1283 423 -612 674 -1110 708 -1402 l7 -63 1143 0 1143 0 7 58 c26 222 161 532 414 952 278 460 711 1057 1205 1659 l159 194 -44 35 c-74 61 -296 282 -388 387 -270 310 -512 659 -793 1145 -494 856 -1059 2141 -1504 3422 -37 109 -69 196 -71 194 -3 -3 -93 -4607 -93 -4758 l0 -88 78 0 77 0 203 -203 202 -202 0 -648 0 -647 -607 2 -608 3 -3 625 -2 625 222 222 223 223 66 0 66 0 -5 238 c-2 130 -18 1219 -37 2420 -18 1201 -34 2185 -36 2187 -2 1 -39 -99 -83 -223z"/>
                    <path d="M4276 4177 c-74 -42 -100 -148 -53 -218 32 -49 105 -83 158 -74 57 10 113 62 128 118 34 138 -109 245 -233 174z"/>
                    <path d="M2973 1154 c-89 -32 -163 -125 -178 -225 -6 -40 -3 -49 19 -76 67 -80 370 -180 656 -217 l95 -12 -60 -7 c-33 -4 -125 -21 -205 -37 -246 -50 -434 -121 -486 -183 -22 -27 -25 -36 -19 -76 4 -25 14 -62 22 -83 21 -52 110 -132 165 -147 32 -9 379 -11 1423 -9 l1380 3 48 28 c111 65 170 216 112 285 -62 74 -296 152 -615 206 l-134 23 64 6 c172 18 470 94 586 149 34 16 76 44 94 61 30 30 32 35 27 83 -9 91 -65 171 -151 217 l-41 22 -1380 2 c-1199 1 -1385 0 -1422 -13z"/>
                </g>
            </svg>
        </LinkTo>
    </h1>
    <h2 class="nav-menu-subtitle">{{@subtitle}}</h2>
    <ul class="nav-menu-group">
        <li class="nav-menu-item">
            <LinkTo @route="notes" class="nav-menu-link">
                <FaIcon @icon="sticky-note" />
                <span>Notes</span>
            </LinkTo>
        </li>
        <li class="nav-menu-item">
            <LinkTo @route="collections" @current-when="collections collection-notes" class="nav-menu-link">
                <FaIcon @icon="folder" />
                <span>Collections</span>
            </LinkTo>
        </li>
        <li class="nav-menu-item">
            <LinkTo @route="tags" class="nav-menu-link">
                <FaIcon @icon="tag" />
                <span>Tags</span>
            </LinkTo>
        </li>
    </ul>
    <div class="nav-menu-item logout">
        <button class="button nav-menu-link" type="button" {{on "click" @logout}}>
            <FaIcon @icon="sign-out-alt" />
            <span>Logout</span>
        </button>
    </div>
</nav>