.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 275px;
    grid-gap: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;
}

.card {
    height: 100%;
    background-color: $white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: $border-radius-normal;
    transition: transform 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    }
    .card-body {
        flex: 1 1 auto;
        position: relative;
        overflow-y: hidden;
        word-break: break-all;
        padding: 8px;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(transparent 200px, $white);
        }
    }
    .card-header {
        flex: 0 0 auto;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-footer {
        flex: 0 0 auto;
        transition: opacity 0.2s ease;
        color: $grey;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        .footer-actions {
            .tag-group {
                flex-basis: 60%;
            }
            .delete-confirm {
                position: absolute;
                right: 75px;
                margin: 0 4px;
                opacity: 0;
                color: #68ab5b;
                cursor: none;
                pointer-events: none;
            }
            .delete-cancel {
                position: absolute;
                right: -75px;
                margin: 0 4px;
                opacity: 0;
                color: #ff5244;
                cursor: none;
                pointer-events: none;
            }
            &.confirming {
                .note-delete {
                    opacity: 0;
                    transform: translateY(5px);
                    cursor: none;
                    pointer-events: none;
                }
                .delete-confirm {
                    transition: all 0.1s ease-in-out;
                    opacity: 1;
                    transform: translateX(40px);
                    cursor: pointer;
                    pointer-events: auto;
                }
                .delete-cancel {
                    transition: all 0.1s ease-in-out;
                    opacity: 1;
                    transform: translateX(-80px);
                    cursor: pointer;
                    pointer-events: auto;
                }
            }
        }
    }

    &:hover .note-delete {
        visibility: visible;
        opacity: 1;
    }
}

.note-delete {
    float: right;
    visibility: hidden;
    opacity: 0;
    transition: visibiilty 0s, opacity 0.2s linear, transform 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}

.card-link {
    color: $black;
    width: 100%;
    text-decoration: none;
    &.active,
    &.is-new {
        visibility: hidden;
    }
}
