.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 275px;
    grid-gap: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 32px;
    width: 100%;
}

.card {
    background-color: $white;
    box-shadow: 0 2px 2.5px rgba(125, 125, 125, 0.08),
        0 4px 5px rgba(125, 125, 125, 0.10),
        0 8px 10px rgba(125, 125, 125, 0.05);
    border: 1px solid $white-darker;
    border-radius: 2px;
    transition: opacity, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    &:hover,
    &.active {
        box-shadow: 0 1px 2px 0 rgba(66, 66, 66, 0.3), 0 1px 3px 1px rgba(80, 80, 80, 0.15);
        .card-footer .action-bar {
            opacity: 1;
        }
    }
    &.open {
        visibility: hidden;
    }
    &.new {
        display: none;
        position: absolute; // Ensures the new note is not added to the grid
    }
    .card-body {
        height: 100%;
        overflow-y: hidden;
        word-break: break-all;
    }
    .card-footer {
        position: relative;
        color: $black-light;
        margin-top: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .timestamp {
            color: $grey;
            font-size: 0.8rem;
        }
        .action-bar {
            display: flex;
            opacity: 0;
            transition: opacity 0.2s ease;
            .button {
                padding: 0.25em;
            }
        }
    }
}
