.toolbar {
    padding: 8px 32px;
    background-color: $white;
    flex-shrink: 0;
    box-shadow: 0 1px 2px 0 rgba(66, 66, 66, 0.3), 0 1px 3px 1px rgba(80, 80, 80, 0.15);
    z-index: $topbar-index;
    .toolbar-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;
    }
    .tag-list {
        max-height: 100px;
        overflow: auto;
    }
}

.toolbar-item {
    display: flex;
    align-items: center;
    height: 50px;
    .button-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        .button {
            margin: 0;
        }
    }
}
