.ember-modal-overlay.translucent {
    background-color: #0c0c0c2e;
    z-index: $overlay-index;
}

.ember-modal-dialog {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-height: 70%;
    padding: 16px;
    border-radius: $default-radius;
    border: 1px solid $white-darker;
    background-color: $white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    z-index: $modal-index;
}

.modal-header {
    margin-bottom: 16px;
}

.modal-body {
    display: flex;
    overflow-y: hidden;
    .content-editable {
        padding: 8px 0;
    }
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: $black-light;
    margin-top: 8px;
    .action-bar {
        display: flex;
        button {
            color: $black-light;
        }
    }
}

