.list-pane {
    width: 350px;
    background-color: $white-dark;
    overflow-y: auto;
    flex-shrink: 0; // without this, the list disappears/shrinks when opening the editor, not sure why
    .list-item {
        cursor: pointer;
        padding: 16px;
        height: 100px;
        border-bottom: 1px solid #d1d1d1;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        &:hover {
            background-color: $white-darker;
        }
        &.active {
            background-color: $white-darker;
        }
        &.new {
            display: none;
        }
        blockquote {
            background-color: $white;
        }
    }
}

.pane-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding: 36px;
    .pane-body {
        height: 100%;
        overflow-y: auto;
    }
}
