.ember-basic-dropdown-content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .ember-power-select-multiple-trigger {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.ember-power-select-trigger {
    padding: 8px;
    &.ember-basic-dropdown-trigger--below  {
        border-bottom: none;
    }
    &.ember-basic-dropdown-trigger--above {
        border-top: none;
    }
}

.power-select-suggestion {
    display: flex;
    align-items: center;
    padding: 8px;

    .select-suggestion-text {
        font-weight: 500;
    }

    .fa-plus {
        color: $grey-dark;
        font-size: 0.8rem;
        margin-right: 8px;
    }
}

.power-select-option {
    display: flex;
    align-items: center;
}

.select-trigger-search-container {
    display: flex;
    align-items: center;

    .fa-search {
        color: $grey-dark;
        font-size: 0.8rem;
        margin-right: 8px;
    }

    .fa-times {
        color: $grey-dark;
        font-size: 0.8rem;
        margin-left: 8px;
        cursor: pointer;
    }

    .ember-power-select-trigger-multiple-input {
        width: 100%;
        text-indent: 0;
    }
}

.ember-power-select-options .ember-power-select-option {
    padding-right: 16px;
    .option-wrapper {
        width: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
    }
}

.ember-power-select-options[role=listbox] {
    max-height: 300px;
}

.select-option-selected-icon {
    font-size: 0.8rem;
    color: $grey-dark;
    margin-right: 8px;
}

.select-option-icon {
    margin-right: 8px;
    color: $black-light;
    font-size: 1rem;
}

.ember-power-select-option {
    display: flex;
    align-items: center;
    word-break: break-word;

    .select-option-content {
        line-height: 1.2rem;
    }

    &[aria-selected=true] {
        .select-option-selected-icon {
            visibility: visible;
            color: $grey-dark;
            margin-right: 8px;
        }
    }

    &[aria-selected=false] {
        .select-option-selected-icon {
            visibility: hidden;
            margin-right: 8px;
        }
    }
}

.ember-basic-dropdown-trigger.hide-trigger {
    min-height: unset;
    padding: 0;
    border: none;
}

.ember-power-select-dropdown.has-top-border {
    border-top: 1px solid $white-darker;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
