.pell-actionbar {
    position: sticky;
    top: 0;
    height: 30px;
    background-color: $white;
    border-bottom: 2px solid $white-darker;
}

.pell-button {
    color: $black-light;
    width: 32px;
    &:hover,
    &.pell-button-selected {
        background-color: $white-darker;
    }
}

.pell-content {
    height: calc(100% - 32px);
    min-height: 200px;
    blockquote {
        padding: 16px;
        margin: 16px;
        background-color: $white-dark;
        border-left: 4px solid $primary;
    }
}
