.toolbar {
    padding: 8px 32px;
    background-color: $white;
    flex-shrink: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    z-index: $topbar-index;
    .toolbar-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        width: 100%;
    }
    .tag-list {
        max-height: 100px;
        overflow: auto;
    }
}

.toolbar-item {
    display: flex;
    align-items: center;
    height: 50px;
    .button {
        padding: 16px;
    }
}
