/* Text */
.is-bold {
    font-weight: 600;
}

.is-regular {
    font-size: 1rem !important;
}

/* Border */
.border-bottom {
    border-bottom: 1px solid #d1d1d1;
}

/* Margin */
.no-margin {
    margin: 0 !important;
}

.has-margin-right {
    margin-right: 8px !important;
}

.has-margin-left {
    margin-left: 8px !important;
}

.has-margin-bottom {
    margin-bottom: 8px !important;
}

.has-side-margins-large {
    margin: 0 16px !important;
}

/* Alignment */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
.justify-center {
    justify-content: center;
}

/* Width */
.full-width {
    width: 100%;
}

/* Colors */
.is-accented {
    color: $accent !important;
}
