.button {
    font-family: inherit;
    font-size: inherit;
    display: inline-flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 8px;
    background-color: transparent;
    border-radius: $border-radius-normal;
    &:hover {
        background-color: lighten($black, 80%);
        cursor: pointer;
    }
    &:active {
        background-color: lighten($black, 75%);
    }
    &.is-bold {
        font-weight: 500;
    }
    &.is-primary {
        color: $primary;
    }
    &.is-grey {
        background-color: lighten($grey-light, 20%);
    }
    &.is-primary:hover {
        background-color: lighten($purple, 26%);
        background-color: lighten($black, 80%);
        cursor: pointer;
    }
    &.is-primary:active {
        background-color: lighten($purple, 22%);
        background-color: lighten($black, 75%);
    }
    svg.left {
        margin-right: 8px;
    }
    svg.right {
        margin-left: 8px;
    }
}
