/* Text */
.is-bold {
    font-weight: 600;
}

/* Margin */
.has-margin-right {
    margin-right: 8px;
}

/* Alignment */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
.justify-center {
    justify-content: center;
}

/* Width */
.full-width {
    width: 100%;
}
