body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white-dark;
}

main {
    margin-left: 200px;
}

input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.content {
    padding: 24px 48px;
    margin-top: 70px;
}
