/* Colors */
$primary: #8981d8;
$white: #fbfbfb;
$white-dark: #f3f3f3;
$white-darker: #e1e1e1;
$black: #1F1F1F;
$black-light: #414141;
$black-dark: #0f0f0f;
$grey: #7f7f7f;
$grey-light: #999999;
$grey-dark: #696969;

/* ember-power-select */
$ember-power-select-background-color: $white;
$ember-power-select-selected-background: inherit;
$ember-power-select-highlighted-background: $white-darker;
$ember-power-select-highlighted-color: inherit;
$ember-power-select-border-color: $white-darker;
$ember-power-select-default-border-radius: 2px;
$ember-power-select-dropdown-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
