// Colors

$white: #FBFBFB;
$white-light: #FFFFFF;
$white-dark: #EFEFEF;
$black: #1F1F1F;
$black-light: #222222;
$black-dark: #0f0f0f;
$grey: #7f7f7f;
$grey-light: #999999;
$grey-dark: #696969;

$red: #E24F59;
$orange: #F29763;
$yellow: #F2CA7B;
$green: #8CC673;
$teal: #2D8993;
$cyan: #A9E7F2;
$blue: #445599;
$purple: #8B89D6;
$pink: #D198CD;
$brown: #382E21;

$primary: $purple;

$text: $black;
$text-invert: $white;
$menu-item-color: $text-invert;

// Text

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: monospace !default;
$font-weight-normal: 400;
$font-weight-bold: 500;

// Spacing

// Styyyyyyyyyyyyle
$border-radius-normal: 5px;
