@import 'minireset';
@import '_variables.scss';
@import '_base.scss';
@import '_button.scss';
@import'_card.scss';
@import '_modal.scss';

.main-content {
    width: calc(100% - 200px);
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.content {
    height: 100vh;
    margin-top: 70px;
}

.nav-menu {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    color: $white;
    background-color: $primary;
    overflow-y: auto;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
}

.nav-menu-item {
    display: inline-flex;
    margin: 8px 0;

    &:hover {
        background-color: $primary;
    }

    .menu-link {
        color: $white;
        width: 100%;
        padding: 8px 24px;
        text-decoration: none;

        &:hover,
        &.active {
            color: $black;
            background-color: $white-dark;

        }
    }

    svg {
        margin-right: 16px;
    }
}

.toolbar {
    position: fixed;
    top: 0;
    width: calc(100% - 200px);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px 48px;
    z-index: 2;
    input {
        border: none;
        padding: 8px;
        background-color: $white;
        font-size: 1.2rem;
        &:focus {
            outline: none;
        }
    }
    .search-container {
        display: inline-flex;
        align-items: center;
        padding: 0;
        svg {
            margin-right: 8px;
        }
        &:focus-within {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 1);
            animation: border-pulsate 2s infinite;
        }
    }
}

@keyframes border-pulsate {
    0%   { box-shadow: 0 1px 0 0 rgba(0, 0, 0, 1); }
    50%  { box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0); }
    100% { box-shadow: 0 1px 0 0 rgba(0, 0, 0, 1); }
}

.dropdown-container {
    right: 0;
    position: absolute;
    background-color: $white;
    min-width: 50px;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

textarea {
    border-radius: $border-radius-normal;
    padding: 8px;
    width: 100%;
    border: 2px solid #c9c9c9;
    resize: none;
    &:focus {
        outline: none;
    }
}

.note-textarea {
    border: none;
    background-color: $white;

}

.dropdown-footer {
    display: flex;
    justify-content: flex-end;
}

.note-link {
    color: $black;
    width: 100%;
    padding: 8px 24px;
    text-decoration: none;
}
.note-link:hover, .note-link.active {
    color: $black;
    background-color: #EFEFEF;
}
