$purple: #8B89D6;
$yellow: #FFB646;
$black: #1f1f1f;
$grey: #b5b5b5;
$white-foreground: #fbfbfb;
$white-background: #efefef;
$white: #FFFFFF;
$primary: $purple;
$text: $black;
$text-invert: $white;
$menu-item-color: $text-invert;

$base-spacing: 4px;

@import 'bulma';

html,
body {
    min-height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $white-background;
}

.is-primary {
    color: $primary;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $white-background;
    min-height: 100%;
    padding: 24px;
}

.dropdown-container {
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.nav-wrapper {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
}

.content {
    width: calc(100% - 200px);
    position: absolute;
    top: 0;
    right: 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: $white;
    background-color: $primary;
    overflow-y: auto;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
}

.nav-menu-item {
    display: inline-flex;
    margin: 8px 0;

    &:hover {
        background-color: $primary;
    }

    .menu-link {
        color: $white-foreground;
        width: 100%;
        padding: 8px 24px;

        &:hover,
        &.active {
            border-right: solid 5px $white-background;
            border-color: $white-background;
        }
    }

    svg {
        margin-right: 16px;
    }
}

.toolbar {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-foreground;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 16px 48px;
    button {
        font-size: inherit;
        display: inline-flex;
        align-items: center;
        margin: 0;
        border: 0;
        padding: 8px;
        background-color: $white-foreground;
        border-radius: 5px;
        &:hover {
            background-color: lighten($black, 80%);
            cursor: pointer;
        }
        &:active {
            background-color: lighten($black, 75%);
        }
        &.is-primary:hover {
            background-color: lighten($purple, 26%);
            cursor: pointer;
        }
        &.is-primary:active  {
            background-color: lighten($purple, 22%);
        }
        svg {
            margin-right: 8px;
        }
    }
    input {
        border: none;
        padding: 8px;
        background-color: $white-foreground;
        font-size: 1.2rem;
        &:focus {
            outline: none;
        }
    }
    .search-container {
        display: inline-flex;
        align-items: center;
        padding: 0;
        svg {
            margin-right: 8px;
        }
        &:focus-within {
            border-bottom: solid 1px;
            animation: border-pulsate 2s infinite;
        }
    }
}

@keyframes border-pulsate {
    0%   { border-color: rgba(0, 0, 0, 1); }
    50%  { border-color: rgba(0, 0, 0, 0); }
    100% { border-color: rgba(0, 0, 0, 1); }
}

.cards {
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 24px;
}

.note-card {
    padding: 16px;
    background-color: $white-foreground;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.2s ease;
    flex-basis: 33%;
    overflow: hidden;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .note-card-body {
        position: relative;
        height: 90%;
        overflow: hidden;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(transparent 130px, $white-foreground);
        }
    }
    .note-card-footer {
        color: $grey;
    }
}
