@import 'vendor/normalize';
@import 'utils/variables';
@import 'utils/base';
@import 'utils/modifiers';
@import 'ember-power-select';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'components/nav-menu';
@import 'components/toolbar';
@import 'components/card';
@import 'components/button';
@import 'components/dropdown';
@import 'components/modal';
@import 'components/tag';
@import 'components/text-editor';

.content {
    display: flex;
    padding: 0;
    overflow: hidden;
    width: calc(100vw - 200px);
    height: calc(100vh - 70px);
}

.list-pane {
    width: 350px;
    background-color: $white-dark;
    overflow-y: auto;
    flex-shrink: 0; // without this, the list disappears when opening the editor, not sure why
    .list-item {
        padding: 16px;
        height: 100px;
        border-bottom: 1px solid #d1d1d1;
        border-right: 1px solid #d1d1d1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.pane-editor {
    background-color: $white;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding: 36px;
}
