.button {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    border: 0;
    border-radius: $base-border-radius;
    cursor: pointer;
    &:hover {
        background-color: $white-darker;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.75em 1.25em;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    line-height: 1.5;
    margin: 0 4px;

    color: $white;
    background-color: $primary;
    border: 0;

    &:hover {
        background-color: darken($primary, 10%);
    }

    &.x-small {
        font-size: 9px;
    }

    &.small {
        font-size: 10px;
    }

    &.large {
        font-size: 16px;
    }

    &.x-large {
        font-size: 20px;
    }

    &.outline {
        padding: calc(0.75em - 1px) calc(1.25em - 1px);
        border: 1px solid $primary;
        color: $primary;
        background-color: transparent;

        &:hover {
            color: $primary-light;
            border-color: $primary-light;

            &.fill {
                border-color: $primary-light;
                background-color: $primary-light;
                color: $white;
            }
        }
    }

    &.text {
        background-color: transparent;
        color: $primary;

        &:hover {
            color: $black;
            //border: 1px solid $primary;
            //padding: calc(0.75em - 1px) calc(1.25em - 1px);

            &.fill {
                color: $white;
                background-color: $primary-light;
            }

            &.link {
                text-decoration: underline;
            }
        }
    }
}
