.no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $black-light;
    .message-icon {
        font-size: 5rem;
        margin-bottom: 24px;
    }
    .message {
        font-size: 2rem;
    }
}

.error {
    margin-bottom: 8px;
    color: red;
}
