.search-container {
    display: flex;
    align-items: center;
    background-color: #61626b;
    border-radius: 4px;
    padding: 2px 8px;
    &:focus-within,
    &:hover,
    &.active {
        border: 0;
        color: $white;
        background-color: darken(#61626b, 10%);
    }
    svg {
        color: $white;
        margin-left: 8px;
    }
    input {
        border: none;
        background-color: inherit;
        max-width: 100px;
        padding: 8px;
        color: $white !important;
        line-height: 1rem;
        &:focus {
            outline: none;
        }
    }
    input::placeholder {
        color: $white;
        opacity: 0.75;
    }
    &.mobile {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #61626b !important;
        padding: 8px;
        input {
            max-width: unset;
            flex-grow: 1;
            background-color: #61626b;
        }
        button{
            svg {
                margin: 0;
            }
        }
    }
}