.ember-basic-dropdown-content {
    max-width: 300px;
    border-radius: 2px;
    border: 1px solid $grey-light;
    box-shadow: 0 2px 2.5px rgba(125, 125, 125, 0.08),
    0 4px 5px rgba(125, 125, 125, 0.10),
    0 8px 10px rgba(125, 125, 125, 0.05);
}

.ember-basic-dropdown-content .select-container {
   max-height: 400px;
    overflow: auto;
}

.select-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .select-search-container {
        display: flex;
        align-items: center;
        padding: 8px;
        input {
            flex-grow: 1;
            padding: 4px 8px;
            background-color: inherit;
            border: none;
            line-height: normal;
        }
    }

    .select-options-container {
        display: flex;
        overflow: hidden;
    }

    .select-create-container {
        .select-option {
            .fa-plus {
                margin-right: 8px;
            }
        }
    }

    .select-options {
        margin: 0;
        padding: 0;
        overflow-y: auto;
        width: 100%;

        li.select-option {
            list-style: none;
            &.selected {
                .select-option-selected-icon {
                    visibility: visible;
                    color: green;
                }
            }
        }
    }
}

.select-option {
    display: flex;
    align-items: center;
    line-height: normal;
    padding: 8px;
    &:hover {
        cursor: pointer;
        background-color: $grey-light;
    }
    &.large {
        padding: 16px;
    }
}

.select-option-selected-icon {
    visibility: hidden;
}

.fa-plus,
.fa-search,
.fa-check,
.fa-exclamation {
    font-size: 0.8rem;
}

.select-search-container {
    position: sticky;
}

.select-empty-container .select-option {
    font-style: italic;
    &:hover {
        cursor: default;
        background-color: inherit;
    }
    .fa-exclamation {
        visibility: hidden;
        margin-right: 8px;
    }
}

.ember-power-select-trigger {
    padding: 8px;
    &.ember-basic-dropdown-trigger--below  {
        border-bottom: none;
    }
    &.ember-basic-dropdown-trigger--above {
        border-top: none;
    }
}

.power-select-suggestion {
    display: flex;
    align-items: center;
    padding: 8px;

    .select-suggestion-text {
        font-weight: 500;
    }

    .fa-plus {
        color: $grey-dark;
        font-size: 0.8rem;
        margin-right: 8px;
    }
}

.power-select-option {
    display: flex;
    align-items: center;
}

.select-trigger-search-container {
    display: flex;
    align-items: center;

    .fa-search {
        color: $grey-dark;
        font-size: 0.8rem;
        margin-right: 8px;
    }

    .fa-times {
        color: $grey-dark;
        font-size: 0.8rem;
        margin-left: 8px;
        cursor: pointer;
    }

    .ember-power-select-trigger-multiple-input {
        width: 100%;
        text-indent: 0;
    }
}

.ember-power-select-options .ember-power-select-option {
    padding-right: 16px;
    .option-wrapper {
        width: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
    }
}

.ember-power-select-options[role=listbox] {
    max-height: 300px;
}

.select-option-selected-icon {
    font-size: 0.8rem;
    color: $grey-dark;
    margin-right: 8px;
}

.select-option-icon {
    margin-right: 8px;
    color: $black-light;
    font-size: 1rem;
}

.ember-power-select-option {
    display: flex;
    align-items: center;
    word-break: break-word;

    .select-option-content {
        line-height: 1.2rem;
    }

    &[aria-selected=true] {
        .select-option-selected-icon {
            visibility: visible;
            color: $grey-dark;
            margin-right: 8px;
        }
    }

    &[aria-selected=false] {
        .select-option-selected-icon {
            visibility: hidden;
            margin-right: 8px;
        }
    }
}

.ember-basic-dropdown-trigger {
    &.active {
        background-color: $white-darker;
    }
    &.hide-trigger {
        min-height: unset;
        padding: 0;
        border: none;
    }
}

.ember-power-select-dropdown.has-top-border {
    border-top: 1px solid $white-darker;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
