$primary: #454E63;
$primary-light: #555E71;
$accent: #E0CBA8;
$white: #fbfbfb;
$white-dark: #eeeeee;
$white-darker: #e1e1e1;
$black: #1F1F1F;
$black-light: #414141;
$black-dark: #0f0f0f;
$grey: #7f7f7f;
$grey-light: #dadada;
$grey-dark: #696969;
$blue: #3c60b3;
$red: #A20021;
