.ember-table {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    border-radius: $border-radius-normal;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    table {
        width: 100%;
        border-radius: 45px;
    }
}

.et-tr {
    background-color: $white;
    border-bottom: 1px solid #f0f0f0;
    &:hover {
        background-color: $white-dark;
    }
    th {
        background-color: $primary;
        color: $white;
        font-weight: 500;
        padding:16px;
    }
    td {
        padding: 8px 16px;
    }
}

.et-cell-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag-column {
    width: 55% !important;
}

.num-notes-column,
.num-collections-column {
    width: 15% !important;
}

.tag-actions-column {
    width: 15% !important;
}
