{{#if (and this.session.isAuthenticated this.media.isDesktop)}}
    <Utils::NavMenu @subtitle={{this.navigation.subtitle}} @logout={{this.auth.logout}} />
{{/if}}
<main class={{unless this.session.isAuthenticated "unauthenticated"}}>
    <NotificationContainer @zindex="9999" />
    {{outlet}}
</main>
