<div class="login">
    <div class="card">
        <h1>Notes</h1>
        <div class="login-form">
            <h2>Login</h2>
            <form>
                <div class="field">
                    <label>Username</label>
                    <Input type="text" @value={{this.username}} autofocus />
                </div>
                <div class="field">
                    <label>Password</label>
                    <Input @type="password" @value={{this.password}} />
                </div>
                <button type="submit" class="button primary" {{on "click" this.authenticate}}>Login</button>
            </form>
        </div>
    </div>
</div>
